
/* Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF */


.navbar {
    display: flex;
}

.navlogo{
    width: 30%;
    margin-top: 30px;
    margin-bottom: 0px;
    padding:30px;
}

nav ul{
   display: flex;
   list-style: none;
   flex-direction: row;
   margin-top:40px;
   margin-bottom: 0px;
   /* margin: 40px 50px; */
   font-size: 1.5em;
   padding: 30px;
}

nav ul li {
    margin-left: 15px;
    padding:15px;
    font-size: 1.5em;

}

.landing{
    background-image: url('../images/landing.jpg');
    height:2000px;
    background-size: cover;
    text-align: center;

}

.landing h1,
 h5{
    color:white;
    font-size: 4em;
    align-items: center;

}

h1{
    padding-top: 700px;
}

.features h2{
    display: block;
    text-align: center;
    align-items: center;
    text-decoration: underline;
    text-decoration-color: #00b172;
}

.featureLogo{
    display: flex;
}

.main-flex{
    display: flex;
    justify-content: space-evenly;
}

.features main{
    text-align:center;
}

.features img{
    width: 100px;
    height: 100px;
    /* margin-left: 150px; */
}

.featureLogo h3{
    color: rgb(10, 191, 10);
    /* margin-left: 150px; */
}

.green-section{
    background-color: #00b172;
    background-size: cover;
}

.greenSectionContent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.green-text{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 150px;
}

.green-Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.spotifyWhite{
    width: 100px;
    height: 100px;;
}

.green-Kanye{
    width: 40%;
    padding: 50px;
}

.kanyeImage{
    width: 500px;
    height: 600px;;
}